# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Data and logs folder
obsolete/

# Jupyter notebooks
.ipynb_checkpoints/

# VScode
.vscode/

# Ignore figures, pytorch models, and pickle files on default
*.png
*.pt
*.pickle